@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
html,
body {
    background: linear-gradient(#3EADCF,#bfcfd4);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: poppins;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    color: #000;
    padding: 1em;
    width: 100%;
}

header span{
    position: relative;
    left: 120px;
}

.wrapper{
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.content{
    max-width: 800px;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    scroll-snap-align: start;
}

.two{
    background-image: linear-gradient(#dcecf1,#7ec2d7);
}

.line-one {
    position: relative;
    width: 25px;
    height: 100vh;
    background: #ff3131;
}

.line-two {
    position: relative;
    width: 25px;
    height: 100vh;
    background: #183d79;
    margin-left: 7px;
}

.line-three {
    position: relative;
    width: 25px;
    height: 100vh;
    background: #013220;
    margin-left: 7px;
}

nav {
    z-index: 2;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 270px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff3131;
    transition: width 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo {
    position: relative;
    left: 10%;
    font-weight: bold;
    text-transform: uppercase;
    width: 60%;
    font-size: 18;
}

.img img {
    left: 5%;
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.search {
    position: fixed;
    right: 160px;
}

.menu {
    position: fixed;
    right: 100px;
}

.img img {
    position: relative;
    width: 450px;
    bottom: -20px;
}

.title {
    position: relative;
    line-height: .5;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -1px;
    padding-left: 7%;
}

.title p {
    font-size: 25px;
    font-weight: 300;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 5px;
}

/* For Section 2 */
.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgb(red, green, blue, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}


.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #3d34f1; 
}

::placeholder {
    color: #3d34f1;
}

.search-bar button img{
    width: 40px;
    margin-top: 4px;
    margin-right: 1px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}
