@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: poppins;
}


.line-one {
    position: fixed;
    width: 25px;
    height: 100vh;
    background: #ff3131;
    left: 23%;
}

.line-two {
    position: fixed;
    width: 25px;
    height: 100vh;
    background: #183d79;
    left: 25%;
}

.line-three {
    position: fixed;
    width: 25px;
    height: 100vh;
    background: #013220;
    left: 21%;
}

nav {
    z-index: 2;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 270px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff3131;
    transition: width 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo {
    position: fixed;
    left: 120px;
    font-weight: bold;
    text-transform: uppercase;
}

.img img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.search {
    position: fixed;
    right: 160px;
}

.menu {
    position: fixed;
    right: 100px;
}

.img img {
    position: relative;
    width: 450px;
    left: 8.5%;
    bottom: -20px;
}

.title {
    position: fixed;
    position: absolute;
    top: 276px;
    left: 43%;
    line-height: .5;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -1px;
}

.title p {
    font-size: 25px;
    font-weight: 300;
    left: 43%;
    color: grey;
    text-transform: uppercase;
    left: 150px;
    letter-spacing: 3px;
}





